---
layout: default
title: Jini Kim
description: HCI researcher | Ph.D. student at the Carnegie Mellon University
---

{% assign projects = site.data.project-main.project %}
{% assign news = site.data.news.list %}
{% assign pubs = site.data.publications.list %}

<div class="container pt-3 pb-4">
    <div class="container vertical-center">
        <div class="row">
            <div class="col-12 col-md-8 col-xxl-9 ps-0 align-self-center">
                <h4>Jini Kim</h4>
                <div class="d-flex mx-2 mt-4 mb-3 justify-content-center d-md-none items-center">
                    <img src="/assets/images/jinik.jpg" class="w-75"/>
                </div>
                <p class="mt-3">Hi! I am a Ph.D. student in <a href="https://hcii.cmu.edu/">Human Computer Interaction Institute</a> at the <a href="https://www.cmu.edu/">Carnegie Mellon University</a>, School of Computer Science, where I am co-advised by Profs. <a href="https://scholar.google.com/citations?user=Hyhp_zUAAAAJ&hl=en&oi=ao">Jodi Forlizzi</a> and <a href="https://www.andrew.cmu.edu/user/hongs/">Hong Shen</a>. 
                <p>My research focuses on empowering professionals who design or interact with AI and Generative AI systems to proactively consider and address potential harms and ethical issues that arise from incorporating AI in their production process. </p>
                <p>Specifically, it aims to understand how we can (i) help AI professionals (e.g., UX designers, AI developers) who design AI products identify and tackle ethical challenges during the early design phases of AI development, and (ii) support creative professionals (e.g., content creators) in understanding and managing potential AI harms arising from their collaboration with AI and Generative AI systems.</p>
                <p>I obtained my Master's degree in Industrial Design from KAIST (Korea Advanced Institute of Science and Technology). Prior to my master's, I received a B.S. in ICT (Information and Communications Technology) & UX Design from Handong Global University. </p>
            </div>
            <div class="d-none d-md-block col-12 col-md-4 col-xxl-3 align-self-center text-center">
                <img src="/assets/images/jinik.jpg" class="w-100" style="max-width: 225px;"/>
            </div>
            
        </div>
    </div>
    <p class="mt-3">
      <a href="#" class="cryptedmail"
        data-name="jinik"
        data-domain="andrew.cmu"
        data-tld="edu"
        onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;">
        <i class="fa-solid fa-envelope" style="margin-right: .3rem;"></i>
      </a>
    </p>
</div>
<!-- <div class="container">
    <p style="font-weight: 500 !important; text-transform: uppercase;">Recent projects</p>
	<div class="scroller">
		<div class="scroller-inner">
            {% for project in projects %}
			<div class="paper-container non-select">
                <img src="{{ '/assets/images/main-project/' | append: project.image | relative_url }}" alt="" style="height: auto; width: 100%;">
                <p class="pt-2 mt-md-2" style="font-size: .9rem; font-weight: 400 !important; line-height: 1.1rem; text-align: center;">{{ project.title }}{% if project.venue %}<a class="project-venue" href="{{ project.slug | prepend: 'publication/' | relative_url }}">{{ project.venue }}</a>{% endif %}</p>
			</div>
            {% endfor %}
		</div>
	</div>
    <div class="d-flex flex-row-reverse mt-4">
        <a href="{{ 'project' | relative_url }}" style="font-size: .95rem; font-weight: 500 !important;">> View All</a>
    </div>
</div> -->
<div class="container">
    <p style="font-weight: 600 !important; text-transform: uppercase;">News</p>
    <div class="row mt-4">
        {% for new in news limit: 4 %}
        <div class="col-12 col-sm-6">
            <p class="mb-0" style="font-size: 1rem; font-weight: 400 !important;">{{ new.title }}</p>
            <p class="mb-1" style="font-size: .85rem; font-weight: 200 !important;">{{ new.date | date: "%b %-d, %Y" }}</p>
            <!-- <p style="font-size: .95rem; font-weight: 300 !important;">{{ new.description }}</p> -->
            <hr>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex flex-row-reverse mt-4">
        <a href="{{ 'news' | relative_url }}" style="font-size: .95rem; font-weight: 500 !important;">> View All</a>
    </div>
</div>


<div class="container">
    <p style="font-weight: 600 !important; text-transform: uppercase;">Publications</p>
    <div class="row mt-4">
        {% for pub in pubs %}
        <div class="col-12">
            <p class="mb-0" style="font-size: 1rem; font-weight: 400 !important;">{{ pub.title }}</p>
            <p class="mb-1" style="font-size: 1rem; font-weight: 350 !important;">{{ pub.authors}}</p>
            <p style="font-size: .95rem; font-weight: 300 !important;">{{ pub.venue }}</p>

            <p>
                <a href="{{ pub.pdf_url }}" target="_blank" style="text-decoration: none; font-size: 1rem;">
                    <i class="fas fa-file-pdf" style="color: rgb(109, 174, 230); margin-right: 8px;"></i>
                </a>
            </p>


            <hr>
        </div>
        {% endfor %}
    </div>
</div>





<script>
	function addAnimation(scrollers) {
		scrollers.forEach((scroller) => {
			scroller.setAttribute("data-animated", true);

			const scrollerInner = scroller.querySelector(".scroller-inner");
			const scrollerContent = Array.from(scrollerInner.children);
            
			scrollerContent.forEach((item) => {
				const duplicatedItem = item.cloneNode(true);
				duplicatedItem.setAttribute("aria-hidden", true);
				scrollerInner.appendChild(duplicatedItem);
			});
		});
	}
	const scrollers = document.querySelectorAll(".scroller");
	addAnimation(scrollers);
</script>
