---
layout: default
baseurl: /cv
title: CV
description: Curriculum vitae of Jini Kim
---

{% assign publications = site.publication | group_by: 'year' | sort: 'name' | reverse %}

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <main>
                <header>
                  <h1>Jini Kim 
                    <!-- <a class="pdf" href="{{ '/assets/pdf/cv.pdf' | relative_url }}" rel="external"><i class="fas fa-file-pdf"></i> <b>PDF</b></a> -->
                    <a href="{{ '/assets/pdf/cv.pdf' | relative_url  }}" target="_blank" style="text-decoration: none; font-size: 1rem;">
                      <i class="fas fa-file-pdf" style="color: rgb(204, 43, 116); margin-left: 20px; margin-right: 4px;"></i><b style="color:rgb(211, 42, 90);">PDF</b>
                  </a>
                  
                  </h1>
                  <p><a href="#" class="cryptedmail"
                    data-name="jinik"
                    data-domain="andrew.cmu"
                    data-tld="edu"
                    onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld; return false;"></a><br><a href="https://jinikimcmu.github.io/">jinikimcmu.github.io</a><br></p>
                </header>
                <section id="education">
                  <h2>Education</h2>
                  <div class="dated-entry">
                    <div class="dated-date">2023 -</div>
                    <div class="dated-content"><b><a href="https://www.cmu.edu/">Carnegie Mellon University</a></b>, Pittsburgh, PA<br>
                    Ph.D., <a href="https://hcii.cmu.edu/">Human Computer Interaction Institute</a><br>
                    <small>Advisor: <a href="https://scholar.google.com/citations?user=Hyhp_zUAAAAJ&hl=en&oi=ao">Jodi Forlizzi</a> & <a href="https://www.andrew.cmu.edu/user/hongs/">Hong Shen</a></small><br>
                    </div>
                </div>
                <div class="dated-entry">
                      <div class="dated-date">2023 -</div>
                      <div class="dated-content"><b><a href="https://www.cmu.edu/">Korea Advanced Institute of Science & Technology (KAIST)</a></b>, Daejeon, Korea<br>
                      M.S. in Industrial Design (Specialization : Human-Computer Interaction)<br>
                      
                      <small>•  Advisor: Ki-Young Nam </small><br>
                      <small>•  Thesis Committee: Ki-Young Nam, Sangsu Lee, Changhee Lee </small><br>
                      <small>•  GPA: 4.08/4.3 </small><br>
                      </div>
                  </div>
                  
                  <div class="dated-entry">
                      <div class="dated-date">2016 - 2022</div>
                      <div class="dated-content"><b><a href="https://snu.ac.kr/">Handong Global University (HGU)</a></b>, Pohang, Korea<br>
                      B.S. in Information and Communication Technology Convergence (ICT)<br>
                      B.S. in Product Design (Specialization : UX Design)<br>
                      <small>•  Total GPA : 4.21/4.5  |   Major GPA : 4.39/4.5   |   <i>Magna Cum Laude </i></small><br>
                      <small>•  Honors: Academic Excellence Scholarship for 5 semesters (Top 1%)</small>
                      </div>
                  </div>
                </section>
                <!-- <section id="employment">
                  <h2>Employment</h2>
                  <div class="dated-entry">
                    <div class="dated-date">Summer 2024</div>
                    <div class="dated-content">
                      <b><a href="https://research.adobe.com/">Adobe Research</a></b>, San Jose, CA<br>
                      Research scientist intern<br>
                      <small>Mentor: <a href="https://gromitchan.com/">Gromit Yeuk-Yin Chan</a></small>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">Summer 2023</div>
                    <div class="dated-content">
                      <b><a href="https://clova.ai/en/research/research-areas.html">Naver AI Lab</a></b>, Seongnam, Korea<br>
                      Research intern<br>
                      <small>Mentor: <a href="http://younghokim.net/">Young-Ho Kim</a></small>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2020 - 2021</div>
                    <div class="dated-content">
                      <b><a href="https://elecle.bike/">Elecle</a></b>, Seoul, Korea</a><br>
                      iOS developer<br>
                    </div>
                  </div>
                </section> -->
                <section id="research interest">
                  <h2>Research Interest</h2>
                  <div class="dated-entry">
                    <div class="dated-date"></div>
                    <div class="dated-content"><b>Human-AI Interaction, Human-Centered Interaction, Design Research, Creator-AI Collaboration, Responsible AI</b><br>
                    </div>
                </div>
                </section>

                <section id="publications">
                  <h2>Publications</h2>
                  {% for pubs in publications %}
                    {% assign pub_items_sorted = pubs.items | sort: "month" | reverse %}
                    {% for pub in pub_items_sorted %}
                    <div class="dated-entry">
                      <div class="dated-date">{% if forloop.first %}{{ pubs.name }}{% endif %}</div>
                      <div class="dated-content"><a style="font-weight: 400" href="{{ '/publication/' | append: pub.slug | relative_url }}">{{ pub.title }}</a><br>
                        {% for author in pub.authors %}
                        {% assign author_data = site.data.people.people | where:"name", author | first %}
                        {% if author == "Jini Kim" %}<a style="font-weight: 400 !important" href="https://jinikimcmu.github.io/">Jini Kim</a>{% if pub.coauthors contains author %}*{% endif %}{% else %}{% if pub.coauthors contains author %}{% if author_data.website %}<a href="{{ author_data.website }}" class="coauthor" style="font-weight: 400 !important">{{ author }}</a>*{% else %}<span class="coauthor" style="font-weight: 400 !important">{{ author }}</span>*{% endif %}{% else %}{% if author_data.website %}<a href="{{ author_data.website }}" class="coauthor">{{ author }}</a>{% else %}<span class="coauthor">{{ author }}</span>{% endif %}{% endif %}{% endif %}{% unless forloop.last%}, {% endunless %}
                        {% endfor %}{% if pub.coauthors %}<span style="font-size: .8rem; font-weight: 300" class="ms-2">(* co-first authorship)</span>{% endif %}
                        <br>
                        {{ pub.venue }}.{% if pub.note %} <span style="font-weight: 200 !important">({{ pub.note}})</span>{% endif %}<br>
                        {% if pub.award %}<i class="fas fa-medal"></i><span style="font-weight: 400">{{ pub.award }}</span><br>{% endif %}
                      </div>
                    </div>
                    {% endfor %}
                  {% endfor %}
                </section>
                <!-- <section id="patents">
                  <h2>Patent</h2>
                  <div class="dated-entry">
                    <div class="dated-date">2021</div>
                    <div class="dated-content">
                      <b>Method and Apparatus for Mimicking Conversational Style</b><br>
                      <span class="coauthor">Youjin Hwang</span>, <span class="coauthor">Joonhwan Lee</span>, Donghoon Shin<br>
                      Republic of Korea Patent <span class="ms-1" style="font-weight: 200 !important">(10-2021-0032858)</span>
                    </div>
                  </div>
                </section> -->
                <section id="research">
                  <h2>Research Experience</h2>
                  <div class="dated-entry">
                    <div class="dated-date">2020 - 2022</div>
                    <div class="dated-content">
                      <b>Designize Lab</a> </b>, KAIST <br>
                      <small>• Mentor: Ki-Young Nam</small>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2019 </div>
                    <div class="dated-content">
                      <b>UX Design Research collaborated with LG Electronics R&D </b>, HGU <br>
                      <small>• Mentor: Eunjong Lee</a></small>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2018 - 2019 </div>
                    <div class="dated-content">
                      <b>Human-Computer Interaction Lab</b>, HGU<br>
                      <small>• Mentor: Wonsup Lee</a></small>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2019 </div>
                    <div class="dated-content">
                      <b>Ergonomic Design & Technology Lab</b>, POSTECH <br>
                      <small>• Mentor: Heecheon You</small>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2018 </div>
                    <div class="dated-content">
                      <b>User Experience Lab</b>, <a href="https://snu.ac.kr/">SNU</a><br>
                      <small>• Mentor: Joong-Seek Lee</small>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2018-2020 </div>
                    <div class="dated-content">
                      <b>The Answer (UX Design group)</b>, HGU<br>
                      <small>• Mentor: Eunjong Lee</a></small>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2017-2018 </div>
                    <div class="dated-content">
                      <b>Design Lab</b>, HGU<br>
                      <small>• Mentor: In-Wook Choi</small>
                    </div>
                  </div>
                </section>


                <section id="research">
                  <h2>Research Project</h2>
                  <div class="dated-entry">
                    <div class="dated-date">2022</div>
                    <div class="dated-content">
                      <b>Development of Crowd-sourcing System for the Local Sharing of Social Resources</b>, KAIST <br>
                      <small> • Funded by KAIST, working as a UX Researcher</small>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2021 </div>
                    <div class="dated-content">
                      <b>Design Interventions for Empowering User Deliberation in Online Petition Platform </b>, KAIST <br>
                      <small> • M.S. Research Thesis, KAIST</a></small>
                      <small> • Published in CHI 2022 LBW (Kim J., Kim C., Nam K.)</small><br>
                      <small> Developing Deliberation Augmented AI-Infused Civic Participation Platform using BERT </small>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2020-2021 </div>
                    <div class="dated-content">
                      <b>Innovating Classroom Desks to Improve Student Experience in Future Classrooms</b>, KAIST<br>
                      <small>• Funded by YESEM & KAIST</a></small>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2020 </div>
                    <div class="dated-content">
                      <b>Public Display Design Strategies for Passive Citizen Engagement in Civic Activities</b>, KAIST <br>
                      <small>• Funded by Korea Land and Housing Corporation (LH) Social Venture</small>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2020 </div>
                    <div class="dated-content">
                      <b>Design Guidelines for Building AI Chatbots in Online Museum </b>, KAIST<br>
                      <small>• Mentor: Youn-kyung Lim</small>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2019-2020 </div>
                    <div class="dated-content">
                      <b>Service Design Strategies for Seamless EV Charging Experience </b>, HGU<br>
                      <small>• UX Design Research, collaborated with LG Electronics R&D</small><br>
                      <small>• Published in KSDS 2020 (Kim J., Kim J., Jang J., Choi J., Nam K.)</small>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2019 </div>
                    <div class="dated-content">
                      <b>Development of a Community Mapping App for the Non-Ambulatory</b>, HGU<br>
                      <small>• Funded by Korea Telecom (KT)</small>
                      <small>• The Answer (UX Design group), HGU </small>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2019</div>
                    <div class="dated-content">
                      <b>Data Collection and Analysis of Korean Faces for Samsung Mask Design</b><br>
                      <small> • Research Intern, Ergonomic Design & Technology Lab, POSTECH</small>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2018</div>
                    <div class="dated-content">
                      <b>Development of Voice-based Crowdsourcing Platform for the Enhancement of Self-support for the Visually Impaired</b><br>
                      <small>• Published in AHFE 2019 (Kim J., Song G.R., Kim H., Kim E., Lee W.)</small>
                      <small>• Human-Computer Interaction Lab, HGU</small>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2017-2018 </div>
                    <div class="dated-content">
                      <b>Development of a Conversational AI Chatbot Framework for the Arts and Tourism Contents</b><br>
                      <small>• Funded by Korea Creative Content Agency</small><br>
                      <small>• User Experience Lab, Seoul National University</small>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2017-2018 </div>
                    <div class="dated-content">
                      <b>A Study on the Development of VR Education Contents for the Mentally impaired</b>, HGU<br>
                      <small>• Design Lab, HGU</small>
                    </div>
                  </div>
                </section>

                

                <section id="awards">
                  <h2>Honors and Awards</h2>
                  <div class="dated-entry">
                    <div class="dated-date">2022</div>
                    <div class="dated-content">
                      <b>Grand Prize in MTS UX / HCI Heuristic Evaluation Competition</b>,  Shinhan Investment<br>
                      <small>￭  Heuristic report about UX / HCI Mobile Trading System (MTS) improvement</small><br>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2022</div>
                    <div class="dated-content">
                      <b>James Dyson International Design Competition</b><br>
                      <small>￭  National Runner-up 2020 • Vortex Laundry: Water-powered Laundry Kit for LEDC</small>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2020</div>
                    <div class="dated-content">
                      <b>Magna Cum Laude, Graduated with Honors</b>, HGU<br>
                      <small> ￭  4.21/4.5 (Overall), 4.39/4.5 (Major)</small>
                    </div>
                  </div>
                  <div class="dated-entry">
                    <div class="dated-date">2015-2019</div>
                    <div class="dated-content">
                      <b>Top 1% Academic Excellence Scholarship</b>, HGU<br>
                      <small>￭  Top 1% Academic Excellence Scholarship -  ￭  Awarded for five consecutive semesters</small>
                    </div>
                  </div>
                  
                
                <!-- <section id="service">
                  <h2>Services</h2>
                  <h3>Program Committee</h3>
                  <div class="oneline-entries">
                    <div class="dated-entry">
                      <div class="dated-date">2024</div>
                      <div class="dated-content">ACM CHI</div>
                    </div>
                  </div> -->
                  <h3>Reviewer</h3>
                  <div class="oneline-entries">
                    <div class="dated-entry">
                      <div class="dated-date">2024 </div>
                      <div class="dated-content">ACM CHI 2022, 2024</div>
                    </div>
                  </div>
                  <!-- <h3>Admission Committee</h3>
                  <div class="oneline-entries">
                    <div class="dated-entry">
                      <div class="dated-date">2023</div>
                      <div class="dated-content">Student reviewer for UW HCDE Ph.D. admission</div>
                    </div>
                  </div> -->
                  <!-- <h3>Student Volunteer</h3>
                  <div class="oneline-entries">
                    <div class="dated-entry">
                      <div class="dated-date">2020</div>
                      <div class="dated-content">ACM ISS</div>
                    </div>
                  </div> -->
                </section>
              </main>
        </div>
    </div>
</div>

<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>

<style>
    /* reset base styles */
    * { box-sizing: border-box; margin: 0; padding: 0; }
  
    /* page header */
    header { margin-bottom: 2rem; padding-left: 6.5rem; }
    header h1 { font-size: 1.5rem; }
    header p { margin: .5rem 0; font-size: 1rem !important}

    main b {font-weight: 500}
  
    /* normal body content */
    h2 { font-size: 1.1rem; margin-bottom: 0.75rem; margin-left: 6.5rem; text-transform: uppercase; }
    h3 { border-bottom: 1px solid black; font-size: .9rem; margin: 1rem 0 .5rem 6.5rem }
    p { margin-bottom: 0.5rem; }
    a { color: inherit; /*#0000ee;*/ }
    section { margin-bottom: 3rem; }
  
    /* misc */
    .pdf { font-size: .9rem !important; font-weight: 300; margin-left: 1.5rem; white-space: nowrap;}
    .pdf i { margin-right: .1rem;}
    
    .material { font-size: small; margin-left: .5rem;}
    :global(i) {
      padding-right: 4px !important
    }
  
    /* dated entries */
    .dated-entry { display: flex; flex-flow: row wrap; position: relative; margin-bottom: 1rem; }
    .dated-date { width: 6.5rem; text-align: right; padding-top: .15rem; padding-right: 1.5rem; font-size: .8rem }
    .dated-content { width: calc(100% - 6.5rem); font-size: .95rem}
  
    .oneline-entries { margin-bottom: 0.5rem; }
    .oneline-entries .dated-entry { margin-bottom: 0; }
  
    /* hide extra awards info for now, not sure what to include */
    #awards em { display: none; }
    
    .author-tooltip {
      font-weight: 400;
      font-size: .8rem !important;
      text-align: center;
    }
  
    /* on narrow displays, make the font smaller */
    @media (max-width: 480px) {
      html { font-size: 14px; }
    }
  
    /* when printing, make the font smaller and the page full-width */
    @media print {
      html { font-size: 12px; }
      main { margin-top: 0; max-width: 100%; }
    }
    </style>
